*.o
*.swp
.DS_*
.vscode/settings.json
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.deps
.xmake
*.a
build68k
**/gen/*
**/build/*
apps/macemu/host/gencpu
apps/macemu/src/uae_cpu/cpudefs.cpp
apps/macemu/src/uae_cpu/cpuemu.cpp
apps/macemu/src/uae_cpu/cpustbl_nf.cpp
apps/macemu/src/uae_cpu/cpustbl.cpp
apps/macemu/src/uae_cpu/cputbl.h

*.log
*.d
.build
ffmpeg/lib/.version
ffmpeg/lib/config_components.h
ffmpeg/lib/config.h
ffmpeg/lib/doc/examples/pc-uninstalled/libavcodec-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libavformat-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libavutil-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libswresample-uninstalled.pc
ffmpeg/lib/doc/examples/pc-uninstalled/libswscale-uninstalled.pc
ffmpeg/lib/ffbuild/.config
ffmpeg/lib/ffbuild/config.fate
ffmpeg/lib/ffbuild/config.mak
ffmpeg/lib/ffbuild/config.sh
ffmpeg/lib/libavcodec/bsf_list.c
ffmpeg/lib/libavcodec/codec_list.c
ffmpeg/lib/libavcodec/libavcodec.pc
ffmpeg/lib/libavcodec/libavcodec.version
ffmpeg/lib/libavcodec/parser_list.c
ffmpeg/lib/libavdevice/indev_list.c
ffmpeg/lib/libavdevice/outdev_list.c
ffmpeg/lib/libavfilter/filter_list.c
ffmpeg/lib/libavformat/demuxer_list.c
ffmpeg/lib/libavformat/libavformat.pc
ffmpeg/lib/libavformat/libavformat.version
ffmpeg/lib/libavformat/muxer_list.c
ffmpeg/lib/libavformat/protocol_list.c
ffmpeg/lib/libavutil/avconfig.h
ffmpeg/lib/libavutil/ffversion.h
ffmpeg/lib/libavutil/libavutil.pc
ffmpeg/lib/libavutil/libavutil.version
ffmpeg/lib/libswresample/libswresample.pc
ffmpeg/lib/libswresample/libswresample.version
ffmpeg/lib/libswscale/libswscale.pc
ffmpeg/lib/libswscale/libswscale.version
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/doc/config.texi
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/libavcodec/neon/mpegvideo.d
ffmpeg/lib/doc/config.texi
ffmpeg/lib/libavcodec/neon/mpegvideo.d
libs/ffmpeg/lib/.version
libs/ffmpeg/lib/config_components.h
libs/ffmpeg/lib/config.h
libs/ffmpeg/lib/doc/config.texi
libs/ffmpeg/lib/doc/examples/pc-uninstalled/libavcodec-uninstalled.pc
libs/ffmpeg/lib/doc/examples/pc-uninstalled/libavformat-uninstalled.pc
libs/ffmpeg/lib/doc/examples/pc-uninstalled/libavutil-uninstalled.pc
libs/ffmpeg/lib/doc/examples/pc-uninstalled/libswresample-uninstalled.pc
libs/ffmpeg/lib/doc/examples/pc-uninstalled/libswscale-uninstalled.pc
libs/ffmpeg/lib/ffbuild/.config
libs/ffmpeg/lib/ffbuild/config.fate
libs/ffmpeg/lib/ffbuild/config.mak
libs/ffmpeg/lib/ffbuild/config.sh
libs/ffmpeg/lib/libavcodec/bsf_list.c
libs/ffmpeg/lib/libavcodec/codec_list.c
libs/ffmpeg/lib/libavcodec/libavcodec.pc
libs/ffmpeg/lib/libavcodec/libavcodec.version
libs/ffmpeg/lib/libavcodec/parser_list.c
libs/ffmpeg/lib/libavdevice/indev_list.c
libs/ffmpeg/lib/libavdevice/outdev_list.c
libs/ffmpeg/lib/libavfilter/filter_list.c
libs/ffmpeg/lib/libavformat/demuxer_list.c
libs/ffmpeg/lib/libavformat/libavformat.pc
libs/ffmpeg/lib/libavformat/libavformat.version
libs/ffmpeg/lib/libavformat/muxer_list.c
libs/ffmpeg/lib/libavformat/protocol_list.c
libs/ffmpeg/lib/libavutil/avconfig.h
libs/ffmpeg/lib/libavutil/ffversion.h
libs/ffmpeg/lib/libavutil/libavutil.pc
libs/ffmpeg/lib/libavutil/libavutil.version
libs/ffmpeg/lib/libswresample/libswresample.pc
libs/ffmpeg/lib/libswresample/libswresample.version
libs/ffmpeg/lib/libswscale/libswscale.pc
libs/ffmpeg/lib/libswscale/libswscale.version
libs/ffmpeg/lib/doc/config.texi
libs/ffmpeg/lib/doc/config.texi
macemu/host/gencpu
previous/src/cpu/cpudefs.c
previous/src/cpu/cpuemu_31.c
previous/src/cpu/cpuemu_32.c
previous/src/cpu/cpustbl.c
previous/src/cpu/cputbl.h
previous/host/gencpu
macemu/src/uae_cpu/cpudefs.cpp
macemu/src/uae_cpu/cpuemu.cpp
macemu/src/uae_cpu/cpustbl_nf.cpp
macemu/src/uae_cpu/cpustbl.cpp
macemu/src/uae_cpu/cputbl.h
